{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'carts/favicon.ico' %}">

    <title>Fleet Manager</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'carts/bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'carts/dashboard.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'carts/css/bootstrap-colorpicker.min.css' %}" />

    <script src="{% static 'carts/js/jquery.js' %}"></script>

    <!-- Bokeh sytles
    <link rel="stylesheet" href="{% static 'carts/css/bokeh/bokeh-tables-0.12.13.min.css' %}" type="text/css" />
    <link href="{% static 'carts/css/bokeh/bokeh-0.12.13.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'carts/css/bokeh/bokeh-widgets-0.12.13.min.css' %}" rel="stylesheet" type="text/css">

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css" rel="stylesheet" type="text/css">

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.9.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.13/bokeh.min.css" />

    <input type="hidden" id="fleet_carts_list" data-value="{{ fleet_carts_list.1 }}">
    <input type="hidden" id="data_collection_list" data-value="{{ fleet_carts_data.1.0 }}">
    {% for cart_faults in fleet_fault_data.1 %}
      <input type="hidden" id="fleet_fault_list_{{ forloop.counter }}" data-value="{{ cart_faults }}">
    {% endfor %}
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fleet Manager</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="admin">Admin</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="nav col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carts:home' %}">
                  <span data-feather="home" style="margin-bottom:1px"></span>
                  Fleet Analysis <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carts:import data' %}">
                  <span data-feather="file-text" style="margin-bottom:1px"></span>
                  Import Data
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carts:cart viewer' %}">
                  <span data-feather="shopping-cart" style="margin-bottom:1px"></span>
                  Cart Viewer
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="users" style="margin-bottom:1px"></span>
                  Cart Groups
                </a>
              </li>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Fleets</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            {% if latest_cart_fleet_list %}
             	<ul class="nav flex-column mb-2">
            	{% for cart_fleet in latest_cart_fleet_list %}
            		<li class="nav-item">
                  <a class="nav-link" href="{% url 'carts:fleet home' cart_fleet.name %}">
                    <span data-feather="file-text"></span>
                    {{cart_fleet.name }}
                  </a>
                </li>
            	{% endfor %}
            	</ul>
            {% else %}
            	<p>No cart fleets have been imported.</p>
            {% endif %}
          </div>
        </div>

        <main role="main" class="col-md-7 ml-sm-auto col-lg-8 pt-3 px-4">
          <a class="btn btn-primary btn-block" data-toggle="collapse" href="#newCartGroup" role="button" aria-expanded="false" aria-controls="collapseExample" id="newCartGroup-btn">
            Create New Cart Group
          </a>
          <div class="collapse" id="newCartGroup">
            <form action="http://127.0.0.1:8000/groups/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <div class="form-group row">
                  <div class="col">
                    <input type="text" class="form-control mt-3" name="GroupName" placeholder="Group Name">
                  </div>
                  <div class="col">
                    <div id="cpicker" class="input-group colorpicker-component mt-3">
                      <input type="text" class="form-control input-lg" name="GroupColor" placeholder="Cart Group Color"/>
                      <span class="btn btn-outline-secondary input-group-addon dropdown-toggle"><i></i></span>
                    </div>
                    <script>
                      $(function () {
                        $('#cpicker')
                          .colorpicker({
                          })
                          .on('colorpickerChange colorpickerCreate', function (e) {
                            $('#submit-btn')
                              .css('background-color', e.color.toRgbString());

                            e.colorpicker.picker.parents('.panel-body')
                              .css('background-color', e.color.complement().toRgbString());
                          });
                      });
                    </script>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="selectedCartsList">Select Carts</label>
                  <select multiple class="form-control" name="GroupCarts" id="selectedCartsList">
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col text-center">
                    <button type="submit" class="btn mt-3 btn-block" id="submit-btn">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="table-responsive" id=data_table>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Amp/Hrs</th>
                  <th>Miles</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody id=data_list>
              </tbody>
            </table>
          </div>
        </main>

        <div class="nav col-md-2 pull-right">
          <div class="nav column w-200">
            <div class="row col-centered justify-content-between align-items-center ml-4 mt-1 pb-2 mb-3 border-bottom">
              <h1 class="h2">Cart List</h1>
            </div>
            <div class="btn-group row ml-3 mb-2">
              <button class="btn"  id="fleet_dropdown">Select Fleet</button>
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                {% if latest_cart_fleet_list %}
                  <div class="dropdown-menu">
                  	{% for cart_fleet in latest_cart_fleet_list %}
                    <a class="dropdown-item" href="#" id="fleet_entry">
                      {{cart_fleet.name }}
                    </a>
                  	{% endfor %}
                  </div>
                {% else %}
                	<p>No cart fleets imported</p>
                {% endif %}
              </button>
            </div>
            <ul class="list-group row w-100" id=cart_list>

            </ul>
            <div class="list-group row" id=cart_list2>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'carts/js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'carts/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'carts/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'carts/js/dropdown.js' %}"></script>
    <script src="{% static 'carts/js/handlebars-v4.0.11.js' %}"></script>

    {% verbatim %}
    <!-- Mustache Template Scripts -->
    <script id="cart-list-entry" type="text/x-handlebars-template">
      <li class="list-group-item list-group-item-action  col-xs-6" data-cartnumber="{{cartNumber}}" href="#">
        <span data-feather="shopping-cart" style="margin-bottom:1px"></span>
        {{cartNumber}} <span class="sr-only">(current)</span>
      </li>
    </script>
    <script id="data-list-entry" type="text/x-handlebars-template">
      <tr>
        <td>{{cartNumber}}</td>
        <td>{{ampHours}}</td>
        <td>{{miles}}</td>
        <td>{{hours}}</td>
      </tr>
    </script>
    <script id="fault-list-entry" type="text/x-handlebars-template">
      <tr>
        <td>{{faultDesc}}</td>
        <td>{{faultHour}}</td>
        <td>{{faultCode}}</td>
      </tr>
    </script>
    <script id="fault-header" type="text/x-handlebars-template">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Description</th>
            <th>Hour</th>
            <th>Fault Code</th>
          </tr>
        </thead>
        <tbody id=fault_list>
        </tbody>
    </script>
    <script id="select-option" type="text/x-handlebars-template">
      <option>
        {{option}}
      </option>
    </script>
    {% endverbatim %}
    <script src="{% static 'carts/js/CGcart-list.js' %}"></script>

    <!--<script src="{% static 'carts/js/bokeh/bokeh-0.12.13.min.js' %}"></script>
    <script src="{% static 'carts/js/bokeh/bokeh-widgets-0.12.13.min.js' %}"></script>
    <script src="{% static 'carts/js/bokeh/bokeh-tables-0.12.13.min.js' %}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.13/bokeh.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>



    <!-- Bokeh Scripts -->


    <script type="text/javascript" src="{% static 'carts/js/bokeh/bokeh-api-0.12.9.min.js"></script>


  </body>
</html>
